<div class="row bor">
    <div class="col-sm-6"> 
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h5 class="card-title">Front End Code</h5>
          <p class="card-text">Front End Angular code for this app</p>
          <a href="https://github.com/lallu-thomas91/busyqa-crm-2-create_team-fe-0-initial" 
            target="_blank" class="btn btn-primary">Go to GitHub.com</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light border-secondary">
        <div class="card-body">
          <h5 class="card-title">Back End Code</h5>
          <p class="card-text">Spring Boot backend server code for this app</p>
          <a href="https://github.com/lallu-thomas91/busyqa-crm-2-create_team-be-0-initial" 
            target="_blank" class="btn btn-primary">Go to GitHub.com</a>
        </div>
      </div>
    </div>
  </div>