<div class="container mt-2 w-50" >
  <div class="jumbotron border border-primary mt-3 pt-5 pb-4" style="background-color: #d4e2ef;" >
    <div class="form-group row">
      <label class="col-2 col-form-label text-right"> </label>
      <div class="col-6">
        <h1 class="text-justify">Login</h1>
      </div>
    </div>
    <!--Success & Error Alerts-->
    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="mode=='error:authentication_failed'">
      <span>Invalid Credentials..! Try again...</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mode=''">
        <span aria-hidden="true">&times;</span>   
      </button>
    </div>
    <small class="text-danger" *ngIf="mode=='error'">Whoops..!!! Something went wrong! Please try again.</small>
    <small class="text-success" *ngIf="mode=='signup_success'">User registered successfully...</small>
    <small class="text-primary" *ngIf="mode=='logout_success'">You have been logged out successfully...</small>
    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value); loginForm.resetForm()">
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Username</label>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Enter username" name="username" ngModel required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label text-right">Password</label>
        <div class="col-6">
          <input type="password" class="form-control" placeholder="Enter Password" name="password" ngModel required>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-2 col-form-label text-right"> </label>
          <button type="submit" class="btn btn-primary mt-2 ml-3" style="min-width: 100px;"
              [disabled]="!loginForm.valid">Login
          </button>
          <button type="reset" class="btn btn-outline-primary mt-2 ml-3" style="min-width: 100px;"
            routerLink="/login">Cancel
          </button>
      </div>
      <div class="form-group row mt-4">
        <label class="col-2 col-form-label text-right"> </label>
        <button type="button" class="btn btn-primary mt-2 ml-3" routerLink="/signup" 
          style="min-width: 220px;">New User? Sign up</button>
      </div>
    </form>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<app-githublink></app-githublink>